.app-header { 
  background-color: #1976d2; 
  padding: 1rem;
  color: #fff;

  nav {
    max-width: 960px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .app-link {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
  }

  .logo-container{
    font-weight: bold;
    font-size: 1.2rem;

    .app-link {
      display: flex;
      align-items: center; 
    }
  }

  .app-logo {
    height: 40px;
    width: auto;
    margin-right: 8px;
  }

  .link-container { 
    display: flex;
    gap: 1rem;
  }

}